:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red:  hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white: hsl(0, 0%, 100%);
    --transparent-white: hsla(0, 0%,100%, 0.8);
    --transparent-black: hsla(0, 0%,0%, 0.7);
    --font-1: font-family: 'Open Sans', sans-serif;
    --font-2: font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 0.7rem;
    align-self: center;
    position: absolute;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.attribution a {
    text-decoration: none;
    color: var(--pink);
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--very-dark-cyan);
}

header {
    padding-inline: min(10%, 2rem);
    display: flex;
    justify-content: space-between;
}

.top-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.top-section-1 {
    padding-block-start: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    text-align: center;
}

.top-section-1 h2 {
    font-size: 2rem;
}

.top-section-1 p {
    width: 80%;
    max-width: 50rem;
}

.top-section-2 {
    display: flex;
    justify-content: center;
}

.top-section-2 img {
    width: 80%;
}

.top-section-3 {
    display: flex;
    justify-content: space-evenly;
}

.stats img {
    width: 25%;
    object-fit: contain;
}

.stats h1 {
    font-size: 4rem;
}

.stats p {
    font-size: 0.8rem;
    text-align: center;
    color: var(--transparent-black);
}

.mid-section {
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.curved-bg img{
    width: 100%;
}

.flow-1-main,
.flow-2-main,
.flow-3-main {
    display: flex;
    gap: 2rem;
    padding-inline: max(5rem, 10%);
    align-items: center;
}

.flow-1-main img,
.flow-2-main img,
.flow-3-main img {
    width: 100%;
}

.flow-1-main,
.flow-3-main {
    background-color: var(--very-pale-blue);
}

.flow-1-section-1,
.flow-2-section-2,
.flow-3-section-1 {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.bg-top {
    margin-bottom: -0.5rem;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding-block-start: 4rem;
    padding-block-end: 5rem;
}

footer {
    padding-block: 4rem;
    padding-inline: max(5rem, 10%);
    background-color: var(--very-dark-cyan);
    color: var(--transparent-white);
    display: flex;
    gap: 2rem;

    position: relative;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info > img {
    width: 35%;
    min-width: 9rem;
}

#lorem {
    padding-bottom: 1rem;
}

.phone,
.email {
    display: flex;
    gap: .75rem;
}

.socials {
    padding-block-start: 3rem;
    display: flex;
    gap: 1rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.email-input {
    margin-top: 1rem;
    display: flex;
    gap: .75rem;
}

button {
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

button:hover {
    cursor: pointer;
    background-color: var(--light-pink);
    transform: scale(0.975);
}

button:active {
    transform: scale(1);
}

header button {
    padding-inline: 1rem;
    border: 1px solid var(--pink);
    background-color: var(--white);
    color: var(--pink);
    border-radius: 50px;
}

header button:hover {
    color: var(--light-pink);
    border-color: var(--light-pink);
    background-color: var(--white);
}

section button {
    align-self: center;
    width: max-content;
    background-color: var(--pink);
    color: var(--white);
    border: 0;
    border-radius: 50px;
    padding-inline: 2.5rem;
    padding-block: .75rem;
}

footer button {
    background-color: var(--pink);
    color: var(--white);
    border: 0;
    padding-inline: 2rem;
    padding-block: .75rem;
    border-radius: .25rem;
}

footer input {
    width: 50%;
    border-radius: .25rem;
    height: 100%;
}

footer input:hover {
    border: 1px solid var(--pink);
}

.contact-info p:hover {
    cursor: pointer;
    color: var(--white);
}

.fa-brands:hover {
    cursor: pointer;
}

.fa-facebook:hover {
    color: rgb(24, 68, 197);
}

.fa-twitter:hover {
    color: rgb(0, 179, 255);
}

.fa-instagram:hover {
    color: var(--pink);
}

@media screen and (max-width: 48rem) {
    header img {
        width: 10rem;
    }

    .top-section-1 h2 {
        width: 80%;
    }

    .top-section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .flow-1-main,
    .flow-2-main,
    .flow-3-main {
        padding-inline: 10%;
    }

    .flow-1-main,
    .flow-3-main {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 6rem;
    }

    .flow-2-main {
        flex-direction: column;
        text-align: center;
        gap: 6rem;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        gap: 6rem;
        padding-inline: 10%;
    }

    .email-input {
        display: flex;
        flex-direction: column;
    }

    .email-input input {
        width: 100%;
        height: 2.5rem;
    }

    .email-input button {
        width: max-content;
        align-self: flex-end;
    }
}
